USE [master]
GO
/****** Object:  Database [mydrive]    Script Date: 4/19/2020 7:51:07 PM ******/
CREATE DATABASE [mydrive]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mydrive', FILENAME = N'G:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mydrive.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mydrive_log', FILENAME = N'G:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mydrive_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mydrive].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mydrive]
GO
/****** Object:  Table [dbo].[folder_details]    Script Date: 4/19/2020 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[folder_details](
	[FolderId] [int] IDENTITY(1,1) NOT NULL,
	[FolderName] [nvarchar](50) NOT NULL,
	[ParentFolderId] [int] NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_folder_details] PRIMARY KEY CLUSTERED 
(
	[FolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_details]    Script Date: 4/19/2020 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_details](
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_user_details] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[folder_details]  WITH CHECK ADD  CONSTRAINT [FK_folder_details_user_details] FOREIGN KEY([Email])
REFERENCES [dbo].[user_details] ([Email])
GO
ALTER TABLE [dbo].[folder_details] CHECK CONSTRAINT [FK_folder_details_user_details]
GO
ALTER TABLE [dbo].[user_details]  WITH CHECK ADD  CONSTRAINT [FK_user_details_user_details] FOREIGN KEY([Email])
REFERENCES [dbo].[user_details] ([Email])
GO
ALTER TABLE [dbo].[user_details] CHECK CONSTRAINT [FK_user_details_user_details]
GO
USE [master]
GO
