@{
    ViewBag.Title = "Welcome to";
    if (ViewBag.LoggedIn)
    {
        Response.Redirect("~/User/Home");
    }
}
@section styles{
    @Styles.Render("~/Content/index.css")
}
<div class="row">
    <nav class="navbar p-1 pr-3 navbar-expand-sm bg-dark navbar-dark shadow-sm col-12">
        <a href=@Url.Content(@"~/Home/Index") class="navbar-brand">
            <!-- Logo Image -->
            <img src="/Content/images/brandIcon.png" width="75" alt="" class="d-inline-block align-middle mr-1 ml-4">
            <!-- Logo Text -->
            <span class="text-uppercase font-weight-bold" id="logo-txt">My Drive</span>
        </a>
        <div id="navbarSupportedContent" class="ml-auto">
            <ul class="navbar-nav ml-auto">
                <li id="nav-signup" class="nav-item mt-1 active"><h6 class="d-inline text-white">Not registered? Let's</h6><h5 class="nav-link d-inline">Sign Up</h5></li>
                <li id="nav-login" class="nav-item mt-1 active"><h6 class="d-inline text-white">Already registered? Let's</h6><h5 class="nav-link d-inline">Log In</h5></li>
            </ul>
        </div>
    </nav>
</div>

<div class="row flex-md-nowrap flex-sm-wrap justify-content-end mt-2">
    <div class="col-md-7 ml-5 mr-sm-4 mr-md-0 ">
        <div class="card text-white bg-dark mb-3">
            <h2 class="card-header p-3">Hey There!</h2>
            <div class="card-body">
                <h1 class="card-title p-2">Welcome To My Drive!</h1>
                <h5 class="card-text p-2 pb-5">My Drive is a place to upload and save your files in an ordered way. You can create folders and subfolders and organize your files in your desired way.</h5>
                <h4 id='signedupmsg' class="text-success text-center"></h4>
            </div>
        </div>
    </div>
    <form id="loginform" method="post" class="mr-5 myform p-5 col-md-4 ml-md-0 ">
        <h1 class="text-center">Login</h1>
        <div class="form-group p-2">
            <label for="loginEmail">Email address</label>
            <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Enter your email" required>
        </div>
        <div class="form-group p-2">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" name="loginPassword" id="loginPassword" placeholder="Enter Your Password" minlength="8" maxlength="20" required>
        </div>
       
            <p id="loginError" class="text-center text-danger"></p>
          
        <div class="text-center p-2">
            <button type="submit" name="btnlogin" class="btn btn-lg btn-primary">Login!</button>
        </div>
    </form>




    <!-- Signup form-->
    <form id="signupform" method="post" class="mr-5 myform px-3 pt-2 pb-2 col-md-4 ml-md-0">
        <h1 class="text-center">Signup</h1>
        <div class="form-group px-2 pt-0">
            <label for="username">Your Name</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter your fullname" required>
        </div>
        <div class="form-group px-2 pt-1">
            <label for="signupEmail">Email address</label>
            <input type="email" class="form-control" name="signupEmail" id="signupEmail" placeholder="Enter your email" required>
        </div>
        <div class="form-group px-2 pt-1">
            <label for="signupPassword">Password</label>
            <input type="password" class="form-control" name="signupPassword" id="signupPassword" placeholder="Enter Your Password" minlength="8" maxlength="20" required>
        </div>
        <div class="form-group px-2 pt-1">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Your Password" minlength="8" maxlength="20" required>
        </div>
       
        <p id="email-error" class="text-center text-danger"></p>
        <p id="pass-error" class="text-center text-danger">Password does not match</p>

        <div class="text-center">
            <button type="submit" name="btnsignup" class="btn btn-lg btn-primary">Signup!</button>
        </div>
    </form>
</div>
@section scripts{
    <script>
        if ("@ViewBag.LoggedIn.ToString()"=="True") {
            window.location = "@Url.Content("~/User/Home")";
        }
    </script>
    <script type="text/javascript" src="~/Scripts/index.js"></script>
}